/* montserrat-black900 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype') /* Safari, Android, iOS */
}

/* montserrat-black-italic900 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype') /* Safari, Android, iOS */
}

/* montserrat-bold700 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype') /* Safari, Android, iOS */
}

/* montserrat-bold-italic700 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype') /* Safari, Android, iOS */
}

/* montserrat-extra-bold800 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype') /* Safari, Android, iOS */
}

/* montserrat-extra-bold-italic800 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype') /* Safari, Android, iOS */
}

/* montserrat-extra-light200 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype') /* Safari, Android, iOS */
}

/* montserrat-extra-light-italic200 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype') /* Safari, Android, iOS */
}

/* montserrat-italic400 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype') /* Safari, Android, iOS */
}

/* montserrat-light300 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype') /* Safari, Android, iOS */
}

/* montserrat-light-italic300 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype') /* Safari, Android, iOS */
}

/* montserrat-medium500 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype') /* Safari, Android, iOS */
}

/* montserrat-medium-italic500 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype') /* Safari, Android, iOS */
}

/* montserrat-regular400 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype') /* Safari, Android, iOS */
}

/* montserrat-semi-bold600 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype') /* Safari, Android, iOS */
}

/* montserrat-semi-bold-italic600 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype') /* Safari, Android, iOS */
}

/* montserrat-thin600 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype') /* Safari, Android, iOS */
}

/* montserrat-thin-italic600 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/Montserrat/Montserrat-ThinItalic.ttf') format('truetype') /* Safari, Android, iOS */
}
